/* headers start */
#header {
  background-color: rgb(190, 190, 223);
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
  /* position: sticky; */
  top: 0;
}

#header a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 24px;
}

#header a:hover {
  color: white;
  background-color: rgb(10, 10, 10);
}

#header a:active {
  text-decoration: underline;
  color: rgb(245, 12, 12);
  background-color: rgb(10, 10, 10);
}

.flex-container-home {
  display: flex;
  padding: 6px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .fch-items {
  width: 50%;
} */

.item1 {
  order: 1;
  width: 700px;
}

.item2 {
  order: 2;
  flex-shrink: 2;
  width: 600px;
}

/* body start */

.git-body {
  width: 80%;
  font-family: "Courier New", Courier, monospace;
}

#cursive {
  font-family: cursive;
}

.sidenav {
  position: fixed;
  right: 10px;
  font-family: "Courier New", Courier, monospace;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  color: #484646;
}

.sidenav a:hover {
  color: #050505;
}

#footer {
  width: 100%;
  background-color: rgb(190, 190, 223);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 3px;
}

img {
  border-radius: 6px;
  height: 50%;
  width: 100%;
}
